@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./var.scss";

:root {
  --vt-header-height: 58px;
  --vt-header-min-width: 1280px;
}

body {
  font-family: var(--vt-font-family) !important;
  color: var(--vt-color-text-1);
  background-color: var(--vt-color-bg-1);
}
