@import './vars.less';
body {
  margin: 0;
  overflow-x: auto;
  min-width: 1440px;
  color: var(--vant-theme-text-color-2);
  font-size: 16px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  background-color: var(--vant-theme-background-1);
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.vant-theme-app{
  display: flex;
  flex-direction: column;
}

.vant-theme-app-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.vant-theme-header {
  width: 100%;
  background-color: var(--vant-theme-header-background);
  user-select: none;
  border-bottom: 1px solid var(--vant-theme-header-border-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index:99;

  &__top{
    display: flex;
    align-items: center;
    height: var(--vant-theme-header-top-height);
    padding: 0 var(--vant-theme-padding);

    &-nav {
      flex: 1;
      font-size: 0;
      text-align: right;

      > li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }

      &-item {
        margin-left: 16px;
      }

      &-title {
        display: block;
        font-size: 15px;
      }
    }
  }

  &__title {
    display: inline-block;
    color: var(--vant-theme-text-color-1);
    font-size: 22px;
    vertical-align: middle;
  }

  &__subtitle {
    display: inline-block;
    color: var(--vant-theme-text-color-2);
    margin-left: 4px;
    vertical-align: -4px;
    font-size: 12px;
  }

  &__cube {
    position: relative;
    display: block;
    padding: 0 12px;
    color: var(--vant-theme-text-color-3);
    background: var(--vant-theme-background-2);
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  &__version {
    padding-right: 20px;

    &::after {
      position: absolute;
      top: 10px;
      right: 9px;
      width: 5px;
      height: 5px;
      color: #001938;
      border: 1px solid;
      border-color: transparent transparent currentColor currentColor;
      transform: rotate(-45deg);
      content: '';
    }

    &-pop {
      position: absolute;
      top: 34px;
      right: 0;
      z-index: 99;
      color: #333;
      line-height: 36px;
      text-align: left;
      overflow: hidden;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 12px #ebedf0;
      transform-origin: top;
      transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      white-space: nowrap;

      &-item {
        padding-left: 12px;
        transition: 0.2s;

        &.disabled {
          cursor: not-allowed;
          &:hover {
            color: #333;
            background-color: #fff;
          }
        }

        &.active,
        &:hover {
          color: var(--vant-theme-link-color);
          background-color: #f7f8fa;
        }
      }
    }
  }

  &__logo {
    display: block;

    img {
      display: inline-block;
      width: 28px;
      margin-right: 12px;
      vertical-align: middle;
    }
  }
  


  &__link {
    cursor: pointer;

    span {
      color: #fff;
      font-size: 16px;
    }

    img {
      display: block;
      width: 30px;
      height: 30px;
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .vant-theme-dropdown {
    &-enter,
    &-leave-active {
      transform: scaleY(0);
      opacity: 0;
    }
  }
}

.vant-theme-container{
  position: fixed;
  width: 100%;
  left: 0;
  top: calc(var(--vant-theme-header-top-height) + 1px);
}

.vant-theme-theme{
  overflow-y: auto;
  max-height: calc(100vh - var(--vant-theme-header-top-height) - 1px);

  &__container{
    width: 1200px;
    margin: calc(var(--vant-theme-padding) * 2) auto;
    display:flex;
    flex-direction: column;
  }

  &__empty{
    text-align: center;
    &-bg{
      width: 406px;
      height: 306px;
      background-image: url("/theme-bg.png");
      margin: 0 auto;
    }
    &-title{
      color: var(--vant-theme-text-color-1);
      font-size: 28px;
      font-weight: 600;
    }
    &-subtitle{
      padding-top: var(--vant-theme-padding);
      color: var(--vant-theme-text-color-2);
    }
    &-btn{
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      .n-button{
        margin-right: var(--vant-theme-padding);
      }
    }
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title{
      font-size: 28px;
      color: var(--vant-theme-text-color-1);
    }

    &-btn{
      display: flex;
      .n-button{
        margin-right: 16px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

  &__list{
    margin-top:calc(var(--vant-theme-padding) * 2);

    .theme-item{
      position: relative;
      cursor: pointer;
      padding: var(--vant-theme-padding);
      border:1px solid var(--vant-theme-header-border-color);
      border-radius: 4px;
      margin-bottom: 18px;
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      display:flex;

      &:last-child{
        margin-bottom: 0;
      }

      &:hover{
        // border-color:var(--vant-theme-blue);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      }

      &__info{
        display:flex;
        flex-direction: column;
        flex: 0 0 400px;
        max-width: 400px;

        p {
          padding-bottom:10px;
          font-size: 14px;
          color: var(--vant-theme-text-color-1);
          display: flex;

          span{
            flex: 0 0 80px;
            word-break: break-all;

            &:last-child{
              flex: 0 0 calc(100% - 80px);
            }
          }
        }

        &-describe {
          span {
            &:last-child {
              font-size: 12px;
            }
          }
        }
      }

      &__table{
        flex: 0 0 calc(100% - 400px - var(--vant-theme-padding));
        max-width: calc(100% - 400px - var(--vant-theme-padding));
        margin-left: var(--vant-theme-padding);
        box-sizing: border-box;
        font-size: 14px;

        &-row{
          display:flex;
          padding-bottom:10px;
          color: var(--vant-theme-text-color-1);

          p{
            // flex: 0 0 calc(100% / 3);
          }

          &__name{
            flex: 0 0 55%;
            max-width: 55%;
          }

          &__value{
            flex: 0 0 25%;
            max-width: 25%;
          }

          &__demo{
            flex: 0 0 20%;
            max-width: 20%;
            &-color{
              width: 100%;
              display: block;
              height: 20px;
            }
          }
        }
      }

      &__more{
        position: absolute;
        top: var(--vant-theme-padding);
        right: var(--vant-theme-padding);
      }
    }
  }
}

.vant-theme-console-panel{
  .console-panel-header{
    width: 100%;
    background-color: var(--vant-theme-header-background);
    user-select: none;
    border-bottom: 1px solid var(--vant-theme-header-border-color);

    &__top{
      display: flex;
      align-items: center;
      height: var(--vant-theme-console-header-top-height);
      padding: 0 var(--vant-theme-padding);

      &-name{
        flex:1;
        // padding-left: 40px;
        color: var(--vant-theme-text-color-1);
        font-size: 14px;
        font-weight: 600;
      }

      &-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--vant-theme-text-color-1);
        font-size: 14px;
        padding-left: 40px;
        .n-button,.n-spin{
          margin-left: var(--vant-theme-padding);
        }
      }
    }
  }

  .console-panel-container{
    overflow: hidden;
    display: flex;
    height: calc(100vh - var(--vant-theme-console-header-top-height) - 1px);
  }
  
  .console-panel-nav{
    box-sizing: border-box;
    overflow-y: scroll;
    width: var(--vant-theme-console-nav-width);
    background-color: var(--vant-theme-background-1);
    border-right: 1px solid var(--vant-theme-header-border-color);
    padding:var(--vant-theme-padding);
    height: calc(100% - calc(var(--vant-theme-padding) * 2));
    scroll-behavior:smooth;

    .n-spin-container{
      height: 100%;
    }

    &__group{
      padding-bottom:10px;
      &-title{
        color: var(--vant-theme-text-color-1);  
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
      }
      &-item{
        font-size: 14px;
        padding:10px 0;
        a{
          display: block;
          color: var(--vant-theme-text-color-2);
          font-size: 14px;
          line-height: 20px;
          transition: color .2s;
          &.active,
          &:hover{
            color: var(--vant-theme-blue);
          }
        }
      }
    }
  }

  .console-panel-mobile{
    box-sizing: border-box;
    overflow-y: scroll;
    width: var(--vant-theme-console-mobile-width);
    background-color: var(--vant-theme-background-1);
    // border-right: 1px solid var(--vant-theme-header-border-color);
    padding:var(--vant-theme-padding);
    display: flex;
    justify-content: center;

    .n-spin-container,.n-spin-content{
      height: 100%;
    }

    .console-panel-mobile__container{
      width: 360px;
      height: 640px;
      overflow: hidden;
      background: #fafafa;
      border-radius: 20px;
      box-shadow: 0 8px 12px #ebedf0;

      iframe {
        width: 100%;
        border: none;
        outline: none;
        height: 100%;
      }
    }
  }

  .console-panel-var{
    flex: 1;
    overflow-y: scroll;
    border-radius: 4px;
    background-color: var(--vant-theme-console-var-background);
    padding: var(--vant-theme-padding);
    height: calc(100% - calc(var(--vant-theme-padding) * 2));
    box-sizing: border-box;
    scroll-behavior: smooth;

    &__collapse{

      .n-collapse-item{
        border-top:none;
        background-color:var(--vant-theme-header-background);
        margin: 0 0 var(--vant-theme-padding) 0;
        // padding: calc(var(--vant-theme-padding) / 2);
        padding: 12px;
        &:first-child{
          margin: 0 0 var(--vant-theme-padding) 0;
        }
        &__header{
          padding:0;
          &-extra{
            padding-left:var(--vant-theme-padding);
            a{
              display: block;
              width: 24px;
              height: 24px;
              color: var(--n-text-color);
              &.active,
              &:hover{
                color: var(--vant-theme-blue);
              }
            }
          }
        }
      }

    }

    &__group{

      &-title{
        flex:1;
        color: var(--vant-theme-text-color-1);
        font-size: 14px;
        font-weight: 600;
      }

      &__item{
        display: flex;
        flex-direction: column;

        // &-var-name{
        // }

        .n-input,
        .n-color-picker{
          margin:12px 0;
        }
      }
    }

    &__container{
      background-color: var(--vant-theme-header-background);
      padding:var(--vant-theme-padding);
    }

    &-list{
      color:var(--vant-theme-text-color-2);
    }

    &-no-var{
      display: flex;
      align-items: center;
      justify-content: center;
      color:var(--vant-theme-text-color-2);
    }
  }
}