:root {
  --app-text-color: #1f2225;
  --app-primary-color: #8e3c00;
  --app-navbar-height: 64px;
}

html,
body,
#app {
  height: 100%;
}

body {
  color: var(--app-text-color);
  font-size: 14px;
  background-color: #ffffff;
}

a {
  color: var(--app-text-color);
  &:hover {
    color: var(--app-primary-color);
  }
}

#app {
  overflow: hidden;
}

.app-navbar-container {
  border-bottom: solid 1px #efeff5;
  height: var(--app-navbar-height);
  padding: 0 32px;
  display: flex;
  align-items: center;

  .navbar-logo {
    font-size: 24px;
    cursor: pointer;
  }

  .navbar-action {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-left: 32px;
    a {
      padding-right: 20px;
    }
  }
}

.app-main-container {
  width: 100%;
  height: calc(100% - var(--app-navbar-height));
  overflow-y: auto;
}

.page-home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .home-title {
    font-size: 38px;
  }
}

.page-theme {
  overflow-y: auto;

  .page-theme-container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    .theme-title {
      padding: 0;
      margin: 0 0 20px 0;
      font-size: 24px;
    }

    .theme-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      .card-item,
      .card-add {
        flex: 0 0 calc(24% - 24px);
        border-radius: 4px;
        margin: 0 24px 24px 0;
      }

      .card-item {
        // height: 230px;
        user-select: none;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 1px 0 #666;
        &:hover {
          box-shadow: 0 0 10px 0 #999;
        }

        .card-line {
          display: flex;
          .line-2,
          .line-4 {
            padding: 35px 0;
          }
          .line-2 {
            flex: 50%;
          }
          .line-4 {
            flex: 25%;
          }
        }

        .card-info {
          padding: 12px;

          .card-info-header {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 4px;

            .info-name {
              color: var(--app-text-color);
            }

            .info-more {
              width: 30px;
              text-align: center;
              cursor: pointer;
            }
          }

          .card-info-description {
            color: #606266;
          }
        }
      }

      .card-add {
        cursor: pointer;
        background: #f5f7fa;
        border: 1px dashed #dcdfe6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 213px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}

.page-preview {
  display: flex;
  height: 100%;

  .page-preview-menu-container {
    width: 240px;
    z-index: 1;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 8px 12px #ebedf0;

    .menu-container {
      padding: 24px;

      .menu-group {
        .menu-group-title {
          color: #455a64;
          font-weight: 600;
          font-size: 15px;
          line-height: 28px;
          padding: 12px 12px 12px 0;
        }
        .menu-children {
          .menu-item {
            font-size: 14px;
            line-height: 20px;
            padding: 12px 12px 12px 0;
            .menu-item-link {
              color: #455a64;
              &:hover {
                color: var(--app-primary-color);
              }
            }
            .menu-item-link-active {
              color: var(--app-primary-color);
            }
          }
        }
      }
    }
  }

  .page-preview-component-container {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
  }

  .page-preview-console-container {
    box-shadow: 0 8px 12px #ebedf0;
    overflow: hidden auto;

    .console-wrapper {
      width: 500px;
      z-index: 1;
      overflow-y: auto;
      background-color: #fff;

      .console-container {
        padding: 24px;
        // overflow-y: auto;
        .console-component-item {
          margin-bottom: 12px;

          .console-component-title {
            width: 100%;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}

.modal-component {
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
}

.van-doc-demo-block {
  padding: 0 16px;

  &:first-child {
    .van-doc-demo-block__title {
      padding-top: 20px;
    }
  }

  .van-doc-demo-block__title {
    margin: 0;
    padding: 32px 16px 16px;
    color: rgba(69, 90, 100, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
}
