<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vant - Mobile UI Components built on Vue</title>
  <meta name="description" content="Mobile UI Components built on Vue" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover" />
  <script src="<%= BASE_URL %>vant-gh-pages/v3/chunks.js"></script>
  <script src="<%= BASE_URL %>vant-gh-pages/v3/site-mobile.js"></script>

</head>

<body ontouchstart>
  <div id="app"></div>
</body>

</html>